<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/todo.controller.js"></script>
    <script src="js/todo.service.js"></script>
  </head>
  
  
  
  
  
  
  
  
  
  <body ng-app="todoApp" ng-controller="todoController as vm">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">The bestest todo app</h1>
      </ion-header-bar>
      
      <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.refreshTodoItems()"></ion-refresher>
        
        <ion-list type="list">
            <ion-item ng-repeat="todo in vm.todos">
                <ion-checkbox ng-model="todo.isCompleted" ng-change="vm.isCompletedChanged(todo)">{{todo.text}}</ion-checkbox>
            </ion-item>
        </ion-list>
        
        <div class="list list-inset">
  <label class="item item-input">
    <input type="text" ng-model="vm.newItemText" placeholder="Enter new todo">
  </label>
          
          <button class="button button-positive" ng-click="vm.createItem()">Create</button>
        
      </div></ion-content>
    </ion-pane>
  </body>
</html>
